<div class="home-page">
  <div id="search-area">
  <h3>   Програма “EasyUML” створена задля вивчення основ нотації уніфікованої мови моделювання або скорочено, мови UML, який призначений для опису, візуалізації і документування об'єктно-орієнтованих систем та бізнес-процесів з орієнтацією на їх подальшу реалізацію у вигляді програмного забезпечення. Використання програмного продукту “EasyUML” спрямоване на формування та вдосконалення знань з методології опису, візуалізації і документування об'єктно-орієнтованих систем за допомогою мови UML. Отримані в ході використання “EasyUML” знання можуть бути успішно використані в подальшому при управлінні проектами в ході розробки інформаційних моделей і програмних додатків.
    </h3>
    <hr>

    <h4>
      Призначення програмного продукту “EasyUML” є полегшити і пришвидшити вивчення базових конструкцій та канонічних діаграм мови UML, а саме:
    </h4>
    <li>діаграма варіантів використання (use case diagram);</li>
    <li>діаграма класів (class diagram);</li>
    <li>діаграма кооперації (collaboration diagram);</li>
    <li>діаграма послідовності (sequence diagram);</li>
    <li>діаграма станів (statechart diagram);</li>
    <li>діаграма діяльності (activity diagram);</li>
    <li>діаграма компонентів (component diagram);</li>
    <li>діаграма розгортання (deployment diagram).</li>

  </div>

  <br />
</div>